<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Купить {{.Product.ID}}</title>
    <link rel="stylesheet" href="/static/css/market/byproduct/byproductmodel.css">
</head>
<body>
<div class="product-container">
    <div class="product-card">
        {{ if .Product.Image }}
        <img src="static/img/{{ .Product.Image }}" alt="{{ .Product.Name }}">
        {{ else }}
        <img src="static/img/Glob.jpeg" alt="Заглушка">
        {{ end }}

        <h1>{{ .Product.Name }}</h1>
        <p class="category">Категория: {{ .Product.Category }}</p>
        <p class="description">{{ .Product.Description }}</p>
        <div class="price">{{ printf "%.0f" .Product.Price }} ₽</div>
        <div class="stock">В наличии: {{ .Product.Stock }} шт.</div>
    </div>
</div>

<div class="ByContainerMastercardVisa">
    <img class="vizza" src="/static/img/vizza_large.png">
    <a href="#"><button type="button" class="VizaButton">Выбрать</button></a>
</div>

<div class="ID_Search">
    <h3 class="RAZDEL">Раздельная оплата</h3>
    <input class="search_user" name="search_id" type="text" placeholder="поиск по ID">
    <button class="find" type="submit">
        ПОИСК
    </button>
</div>
</body>
</html>